body.single {
    article {
        .hero {
            width: 100%;
            max-width: 1000px;
            margin-left: auto!important;
            margin-right: auto!important;
            float: none;
        }
    }
}