body.single {
    article {
        .hero {
            width: 100%;
            max-width: 1000px;
            margin-left: auto!important;
            margin-right: auto!important;
            float: none;
        }
    }
}
.wp-block-image .alignright,
.wp-block-group.alignright {
	margin-right: -15vw;
	max-width: 50%;
}
.wp-block-image .alignleft,
.wp-block-group.alignleft {
	margin-left: -15vw;
	max-width: 50%;
}
